@import "../node_modules/bootstrap/scss/bootstrap";

html{
    scroll-behavior:smooth;
}

body::-webkit-scrollbar{
    width: 10px; }

// VARIABLE DE COLORES
$principal:#ffffff;
$secundario:#ff6b81fd;
$terceario:#242424;

body::-webkit-scrollbar-thumb{
    background-color: $secundario;
    border-radius: 10px;
    font-weight: bold;
}


body{
    background-color: $principal;
    font-family: 'Heebo', sans-serif;
    font-size: 1.2em;
}

h1{
    font-size: 2em;
    font-style: italic;
    font-weight: bolder;
}
// NAVBAR /
/* NAVBAR */
nav {
    font-weight: bold;
    
        div {
            display: flex;
            justify-content: flex-end; }
    }


/* HEADER */


.home{
background-image: url(/img/fondoheader.jpg);
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(2px); }

.bg-text{
        color: $principal;
        font-weight: bold;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 20px;
        text-align: center;
        font-family: 'Heebo', sans-serif;
        font-size: 30px; }

.bg-titulo{
                font-size: 60px;
                font-weight: bold;
                text-shadow: $principal; }
  
    
 /* SOBRE MI */
.sobremi{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
            div{
                padding: 60px;
                    img{
                        
                            border-radius: 50%;
                            height: 250px;
                            object-fit: cover;
                            object-position: top;
                            width: 250px;
                            padding: 20px;
                    }
                    p{ font-size: 1.1em;
                    border-bottom: solid 2px $terceario;
                    padding: 20px;

                }
            }      
        } 

    

        
 /* FRONTEND */
 /* todas las columnas */
 .col{

    margin-bottom: 50px;
    margin-top: 50px;
}

.frontend {
    
    text-align: center;
    align-items: center;
    text-justify: justify;
    
    
    
        div col{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 20;
            padding: 5;
            margin: 5;
                h1{
                    font-size: 3em;
                    font-family: Arial, Helvetica, sans-serif;
                }
        }
}

#cajapadre{
    background-image: linear-gradient(45deg,$secundario 0%,$principal  100%);
    padding: 50px;}

/* MIS PROYECTOS */

.misproyectos{
    text-align: center;
    align-items: center;
    text-justify: justify;
    font-weight: normal;
            div{
                margin: 5px auto;
                h3{
                    font-weight: bolder;
                    font-style: italic;
                }
                
            }
}




/* Pie */ 

footer{
        div{
            background-color: $terceario;
        }
}