html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff6b81fd;
  border-radius: 10px;
  font-weight: bold;
}

body {
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}

/* NAVBAR */
nav {
  font-weight: 750;
  background-color: #242424;
}

/* HEADER */
.principal {
  background-image: url(./img/fondoheader.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.principal .sombra {
  width: 100%;
  height: 50vh;
  background-color: #242424;
  background-size: cover;
  opacity: 0.7;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  position: absolute;
}

.principal .bg-text {
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.principal .bg-text h1 {
  font-size: 3em;
  font-weight: 700;
}

.principal .bg-text h3 {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}

/* SOBRE MI */
.sobremi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sobremi div {
  padding: 0px;
}

.sobremi div img {
  border-radius: 50%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 250px;
  padding: 20px;
}

.sobremi div h1 {
  font-size: 1.2;
  font-weight: bolder;
}

.sobremi div p {
  font-size: 1.1em;
  padding: 20px;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
  border-bottom: #242424 solid 2px;
}

/* FRONTEND */
#caja1 {
  padding: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

#caja1 #caja2 {
  gap: 20;
  padding: 5;
  margin: 5;
  font-style: italic;
}

#caja1 #caja2 h1 {
  font-size: 1.2;
  font-weight: bolder;
}

#caja1 #caja2 h2 {
  font-size: 1;
  font-style: italic;
  font-weight: bolder;
}

#caja1 #caja2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: flex-start;
}

#cajapadre {
  background-image: linear-gradient(45deg, #ffffff 0%, lightgray 100%);
  padding: 50px;
}

#cajapadre #cajahijo {
  font-size: 20px;
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-justify: justify;
  font-weight: normal;
}

.portfolio div {
  margin: 20px auto;
}

.portfolio div h3 {
  font-weight: 700;
  font-style: italic;
}

/* MARKETING DIGITAL */
.mkt {
  background-image: url(./svg/wave.svg);
  background-position: bottom;
  background-size: cover;
  margin: auto;
}

.mkt .container {
  width: 100%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mkt .container h1 {
  font-weight: 600;
}

.mkt .container .card {
  width: 100%;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  color: black;
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  line-height: 1.5;
  text-align: center;
}

.mkt .container .card .card-header {
  background: #242424;
  font-weight: 600;
  color: #ffffff;
}

.mkt .container .card .card-text {
  margin: 2px;
  padding: 2px;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

/* CONTACTO */
#contacto {
  font-weight: 700;
  width: 100%;
  max-width: 1100px;
  padding: 20 20;
  gap: 20;
  margin: 20 20;
}

#contacto div {
  background-color: #242424;
  margin: 20;
  height: 100%;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#contacto div .redes {
  border-left: #ffffff solid 1px;
  font-weight: 700;
  background-color: none;
}

/* FOOTER */
footer {
  background-color: #242424;
  color: #ffffff;
  font-weight: 600;
}
/*# sourceMappingURL=estilos.css.map */