html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff6b81fd;
  border-radius: 10px;
  font-weight: bold;
}

body {
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-style: italic;
  font-weight: bolder;
  font-weight: 400;
}

/* NAVBAR */
nav {
  font-weight: 750;
  background-color: #242424;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
}

/* HEADER */
.home {
  background-image: url(/img/fondoheader.jpg);
}

.bg {
  text-align: center;
  padding: 10px;
  height: 100vh;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.bg-text {
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
}

.bg-titulo {
  font-size: 60px;
  font-weight: bold;
  text-shadow: #ffffff;
}

/* SOBRE MI */
.sobremi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sobremi div {
  padding: 60px;
}

.sobremi div img {
  border-radius: 50%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 250px;
  padding: 20px;
}

.sobremi div p {
  font-size: 1.1em;
  border-bottom: solid 2px #242424;
  padding: 20px;
}

/* FRONTEND */
.frontend {
  padding: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-justify: justify;
  font-weight: 400;
}

.frontend col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20;
  padding: 5;
  margin: 5;
}

.frontend col img {
  width: 400px;
  height: 400px;
}

.frontend col h1 {
  font-size: 3em;
}

#cajapadre {
  background-image: linear-gradient(45deg, #ffffff 0%, lightgray 100%);
  padding: 50px;
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-justify: justify;
  font-weight: normal;
}

.portfolio div {
  margin: 20px auto;
}

.portfolio div h3 {
  font-weight: 700;
  font-style: italic;
}

/* MARKETING DIGITAL */
.mkt {
  background-image: url(/svg/wave.svg);
  background-position: bottom;
  background-size: cover;
  margin: auto;
}

.mkt .container {
  width: 100%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mkt .container h1 {
  font-weight: 600;
}

.mkt .container .card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  color: black;
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  line-height: 1.5;
  text-align: center;
}

.mkt .container .card .card-header {
  background: #ff6b81fd;
  font-weight: 600;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

/* CONTACTO */
#contacto {
  font-weight: 700;
  width: 100%;
  max-width: 1100px;
  padding: 20 20;
  gap: 20;
}

#contacto div {
  background-color: #242424;
  margin: 20;
  height: 100%;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#contacto .redes {
  border-left: #ffffff solid 1px;
  font-weight: 700;
  background-color: none;
}

/* FOOTER */
footer {
  background-color: #242424;
  color: #ffffff;
  font-weight: 600;
}
/*# sourceMappingURL=estilos.css.map */